
<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">Yu-gi-oh</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                功能畫面
            </li>

            <li class="sidebar-item active">
                <a class="sidebar-link" href="index.html">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="history.html">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">歷史價格</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-sign-in.html">
                    <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">單卡情報</span>
                </a>
            </li>

            <li class="sidebar-header">
                資料設定
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="RegisterCardPage.html">
                    <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">定期爬蟲卡片設定</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="maps-google.html">
                    <i class="align-middle" data-feather="map"></i> <span class="align-middle">即時爬蟲卡片設定</span>
                </a>
            </li>

            <li class="sidebar-header">
                自用
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/swagger/" target="_blank" rel="noreferrer noopenner">
                    <i class="align-middle" data-feather="square"></i> <span class="align-middle">swagger</span>
                </a>
            </li>
        </ul>
    </div>
</nav>